@page "/brandon"
<h3>BrandonPage</h3>


<button @onclick="isBrandonHere">Check if brandon is here!</button>
@if (!isHere)
{
                <h1>Brandon isn't here </h1>
}
else
{
                <h1>Brandon is here </h1>
}

 @foreach (var name in newAuthors)
 {

    
                <h1>@name</h1>
    
}

<h1>Brandon just got visited by  @foreach (var author in authors)
{
    index++;
    if(Convert.ToInt32(@AuthorId)==Convert.ToInt32(@index))
                {
                  <span>@author</span>
                }

}</h1>

@code {

    public class Student
    {
        public int Id { get; set; }
        public string Name { get; set; }
    }


    int index = 0;
    bool isHere=false;

    public void  isBrandonHere()
    {
        if (isHere == true) isHere = false;
        else if(isHere==false) { isHere = true; }

    }

    public static string[] newAuthors = { "Shakespeare", "New Author2", "New Author3" };
    //  newAuthors = newAuthors.ToList().where()
    List<string> authors = new List<string>(newAuthors);




    [Parameter]
    public string AuthorId { get; set; }






}

